
/* div#container-fischer\.zgstsettlement---View1--SimpleForm1--Form {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
} */
/* .sapUiLargeMarginBegin {
    margin-left: 0rem !important;
} */
/* .sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0>.sapUiRespGridSpanL3 {
    width: 7% !important;
} */
/* .sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0>.sapUiRespGridSpanL4 {
    width: 60.333333%;
} */
.sapUiRespGridBreak.sapUiRespGridSpanXL6.sapUiRespGridSpanL6.sapUiRespGridSpanM6.sapUiRespGridSpanS12 {
    padding-left: 102px;
}
/* div#container-fischer\.zgstsettlement---View1--hb1 {
    padding-left: 70% !important;
} */
/* .sapUiRespGridBreak.sapUiRespGridSpanXL12.sapUiRespGridSpanL12.sapUiRespGridSpanM12.sapUiRespGridSpanS12 {
    padding-left: 70%;
} */